

body {
	background: #f1f4f7;
	padding-top: 50px;
	color: #5f6468;
}
.login-panel{
	margin-left: 50%;
	width: 600px;
	height: 500px;
}
.panel-heading{
	text-align: center;
	font-size: 30px;
	margin-bottom: 15px;
	text-shadow: 2px 2px 2px #595252;
}
.note{
	color: red;
}
.btn{
	margin-left: 240px;
}


